# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump
.vs
/Source/GTKSystem.Windows.Forms/bin/
/Source/GTKSystem.Windows.Forms/obj/
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/*.dll
/Samples/GTKSystemWinFormsApp11/obj/
/Samples/GTKWinFormsApp/bin/Debug/net8.0/runtimes
/Samples/GTKWinFormsApp/bin/Debug/net8.0/*.dll
# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

/Samples/GTKWinFormsApp/bin/Debug/net8.0/*.*
/Samples/GTKWinFormsApp/obj/Debug/net8.0/*.*
/Samples/GTKWinFormsApp/obj/Debug/net8.0/TempPE/*.*

/Source/GTKSystem.Windows.Forms/bin/Debug/net6.0/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/net6.0/ref/*.*
/Source/GTKSystem.Windows.Forms/bin/Debug/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/ref/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/net6.0/ref/*.*
/Source/GTKSystem.Windows.Forms/obj/Debug/net6.0/refint/*.*
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.AssemblyInfo.cs
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.AssemblyInfoInputs.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.assets.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.csproj.AssemblyReference.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.GeneratedMSBuildEditorConfig.editorconfig
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.dgspec.json
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.g.props
/Samples/GTKSystemWinFormsApp11/obj/project.assets.json
/Samples/GTKSystemWinFormsApp11/obj/project.nuget.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.AssemblyInfo.cs
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.AssemblyInfoInputs.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.assets.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.csproj.AssemblyReference.cache
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.GeneratedMSBuildEditorConfig.editorconfig
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.AssemblyInfo.cs
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.AssemblyInfoInputs.cache
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.assets.cache
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.GeneratedMSBuildEditorConfig.editorconfig
/Source/System.Resources.Extensions/obj/project.assets.json
/Source/System.Resources.Extensions/obj/project.nuget.cache
/Source/System.Resources.Extensions/obj/System.Resources.Extensions.csproj.nuget.dgspec.json
/Source/System.Resources.Extensions/obj/System.Resources.Extensions.csproj.nuget.g.props
/Source/GTKSystem.Windows.Forms/obj/GTKSystem.Windows.Forms.csproj.nuget.dgspec.json
/Source/GTKSystem.Windows.Forms/obj/GTKSystem.Windows.Forms.csproj.nuget.g.props
/Source/GTKSystem.Windows.Forms/obj/project.assets.json
/Source/GTKSystem.Windows.Forms/obj/project.nuget.cache
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp.csproj.nuget.dgspec.json
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp.csproj.nuget.g.props
/Samples/GTKWinFormsApp/obj/project.assets.json
/Samples/GTKWinFormsApp/obj/project.nuget.cache
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.dgspec.json
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.g.props
/Samples/GTKSystemWinFormsApp11/obj/project.assets.json
/Samples/GTKSystemWinFormsApp11/obj/project.nuget.cache
/Source/GTKSystem.Windows.Forms/obj/GTKSystem.Windows.Forms.csproj.nuget.dgspec.json
/Source/GTKSystem.Windows.Forms/obj/project.assets.json
/Source/GTKSystem.Windows.Forms/obj/project.nuget.cache
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/theme/setup.theme
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/theme/style.css
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/010.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/BindingNavigator.Delete.ico
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form3$__gtksharp_1_GTKSystem_Windows_Forms_GTKControls_ControlBase_ButtonBase_img.png
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/img10.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/img11.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/timg2.jpg
/Samples/GtkForm/bin
/Samples/GtkForm/Dependency
/Samples/GtkForm/obj
/Samples/GTKWinFormsApp/bin/Debug/net6.0
/Samples/GTKWinFormsApp/obj/Debug/net6.0
/.vs/GTKWinFormsApp/DesignTimeBuild/.dtbcache.v2
/Samples/GTKWinFormsApp/obj/project.assets.json
/Samples/GTKWinFormsApp/obj/project.nuget.cache
/Source/System.Resources.Extensions/obj/Release/net6.0/System.Resources.Extensions.AssemblyInfo.cs
/Source/System.Resources.Extensions/obj/Release/net6.0/System.Resources.Extensions.AssemblyInfoInputs.cache
/Source/System.Resources.Extensions/obj/Release/net6.0/System.Resources.Extensions.assets.cache
/Source/System.Resources.Extensions/obj/Release/net6.0/System.Resources.Extensions.GeneratedMSBuildEditorConfig.editorconfig
/Source/GTKSystem.Windows.Forms/obj/GTKSystem.Windows.Forms.csproj.nuget.g.targets
/Source/GTKSystem.Windows.Forms/obj/project.assets.json
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp.csproj.nuget.g.targets
/Samples/GTKWinFormsApp/obj/GTKWinFormsApp.csproj.nuget.dgspec.json
/Samples/GTKWinFormsApp/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Samples/GTKWinFormsApp/obj/Release/net6.0/GTKWinFormsApp.AssemblyInfo.cs
/Samples/GTKWinFormsApp/obj/Release/net6.0/GTKWinFormsApp.AssemblyInfoInputs.cache
/Samples/GTKWinFormsApp/obj/Release/net6.0/GTKWinFormsApp.assets.cache
/Samples/GTKWinFormsApp/obj/Release/net6.0/GTKWinFormsApp.csproj.AssemblyReference.cache
/Samples/GTKWinFormsApp/obj/Release/net6.0/GTKWinFormsApp.designer.runtimeconfig.json
/Samples/GTKWinFormsApp/obj/Release/net6.0/GTKWinFormsApp.GeneratedMSBuildEditorConfig.editorconfig
/Samples/GTKWinFormsApp/obj/Release/net6.0/GTKWinFormsApp.runtimeconfig.json
/Samples/GTKWinFormsApp/bin/Debug/net8.0/theme/setup.theme
/Samples/GTKWinFormsApp/bin/Debug/net8.0/theme/style.css
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form1$button3_img.png
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form1$tabPage3_bg.png
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form1.resx
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form2$Form2_bg.png
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form2$GtkTextView_bg.png
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form2.resx
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form3$this.Icon.ico
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form4$img10.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/Form4$img11.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/img10.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/img11.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/pictureBox1_bg.png
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/timg.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0/Resources/timg6.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/GTKWinFormsApp_Win.deps.json
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/GTKWinFormsApp_Win.dll
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/GTKWinFormsApp_Win.exe
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/GTKWinFormsApp_Win.pdb
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/GTKWinFormsApp_Win.runtimeconfig.json
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/TestData1.json
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/Resources/010.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/Resources/BindingNavigator.Delete.ico
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/Resources/img10.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/Resources/img11.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/Resources/pictureBox1_bg.png
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/Resources/timg2.jpg
/Samples/GTKWinFormsApp/bin/Debug/net8.0-windows/Resources/timg6.jpg
/Samples/GTKSystemWinFormsApp11/obj/GTKSystemWinFormsApp11.csproj.nuget.g.targets
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/apphost.exe
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.csproj.BuildWithSkipAnalyzers
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.csproj.FileListAbsolute.txt
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.designer.deps.json
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.designer.runtimeconfig.json
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.GlobalUsings.g.cs
/Samples/GTKSystemWinFormsApp11/obj/Debug/net8.0/GTKSystemWinFormsApp11.runtimeconfig.json
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/GTKSystemWinFormsApp11.deps.json
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/GTKSystemWinFormsApp11.exe
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/GTKSystemWinFormsApp11.pdb
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/GTKSystemWinFormsApp11.runtimeconfig.json
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Samples/GTKSystemWinFormsApp11/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Source/System.Resources.Extensions/obj/System.Resources.Extensions.csproj.nuget.g.targets
/Source/System.Resources.Extensions/obj/Debug/System.Resources.Extensions.1.0.0.nuspec
/Source/System.Resources.Extensions/obj/Debug/netcoreapp3.1/System.Resources.Extensions.GeneratedMSBuildEditorConfig.editorconfig
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.AssemblyInfo.cs
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.AssemblyInfoInputs.cache
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.assets.cache
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.csproj.CoreCompileInputs.cache
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.csproj.FileListAbsolute.txt
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.GeneratedMSBuildEditorConfig.editorconfig
/Source/System.Resources.Extensions/obj/Debug/net8.0/System.Resources.Extensions.pdb
/Source/System.Resources.Extensions/obj/Debug/net8.0/ref/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.csproj.BuildWithSkipAnalyzers
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.csproj.CoreCompileInputs.cache
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.csproj.FileListAbsolute.txt
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.pdb
/Source/System.Resources.Extensions/obj/Debug/net6.0/System.Resources.Extensions.sourcelink.json
/Source/System.Resources.Extensions/obj/Debug/net6.0/ref/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/bin/Release/net6.0/System.Resources.Extensions.deps.json
/Source/System.Resources.Extensions/bin/Release/net6.0/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/bin/Release/net6.0/System.Resources.Extensions.pdb
/Source/System.Resources.Extensions/bin/Debug/System.Resources.Extensions.1.0.0.nupkg
/Source/System.Resources.Extensions/bin/Debug/net6.0/System.Resources.Extensions.deps.json
/Source/System.Resources.Extensions/bin/Debug/net6.0/System.Resources.Extensions.dll
/Source/System.Resources.Extensions/bin/Debug/net6.0/System.Resources.Extensions.pdb
/Source/System.Resources.Extensions/.vs/System.Resources.Extensions/DesignTimeBuild/.dtbcache.v2
/Source/System.Resources.Extensions/.vs/System.Resources.Extensions/FileContentIndex/707b4ffc-a44f-4656-b93d-1db0a69e2a75.vsidx
/Source/System.Resources.Extensions/.vs/System.Resources.Extensions/FileContentIndex/read.lock
/Source/System.Resources.Extensions/.vs/System.Resources.Extensions/v17/.futdcache.v2
/Source/System.Resources.Extensions/.vs/System.Resources.Extensions/v17/.suo
/Samples/GTKWinFormsApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Samples/GTKWinFormsApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Samples/GTKWinFormsApp/obj/Debug/GTKWinFormsApp_Win.csproj.AssemblyReference.cache
/Source/System.Resources.Extensions/obj/Debug/net6.0/refint/System.Resources.Extensions.dll
